@import url("reset.css");

:root {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	overscroll-behavior: none;
	height: 2000px;

	--green: 66, 223, 197;
	--blue: 99, 38, 255;
	--dark: 28, 28, 31;
	--light: 240, 248, 255;
	--shadow: 2px 2px 5px rgb(0 0 0 / 0.5);
}

.minimum,
.hamburger,
.closebtn {
	display: none;
}

.banner {
	display: flex;
	justify-content: space-between;
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	align-items: center;
	padding: 1rem 3vw;
}

body.header-not-at-top .banner {
	position: fixed;
	padding: 0 3vw;
}

body.header-not-at-top .sub {
	display: none;
}

body.header-not-at-top h1 {
	font-size: 2.0rem;
}

body.header-not-at-top li a {
	font-size: 1.25rem;
}

#top-of-site-pixel-anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 300px;
	left: 0;
}

h1 {
	font-weight: 400;
	font-size: 2.3rem;
	filter: drop-shadow(var(--shadow));
}

h2 {
	font-size: 1.35rem;
	font-weight: 200;
}

.overlay-content {
	display: flex;
	justify-content: right;
}

.navlinks {
	display: inline-flex;
	list-style: none;
}

li a {
	display: block;
	padding-left: 2.5rem;
	font-size: 1.25rem;
	font-weight: 300;
	will-change: transform;
	transition: transform 450ms;
}

li a:hover {
	transform: scale(1.2);
	transform-origin: center;
	transition: 150ms;
}

a:any-link {
	color: rgba(var(--light));
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(var(--green));
}

svg {
	fill: rgba(var(--light));
}

svg:hover:not(.copyright-svg) {
	fill: rgba(var(--green));
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	font-weight: 200;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 3vw;
}

.copyright {
	display: flex;
}

.copyright-svg {
	align-self: center;
	margin: 0 3px;
}

.copyright-1stline {
	display: flex;
}

.a {
	align-self: center;
	padding-right: 3px;
}

.copyright-item {
	padding: 0 3px;
}

.legal {
	display: flex;
	text-decoration: underline;
}

.tos {
	padding-left: 8px;
}

.green {
	color: rgba(var(--green));
	font-weight: 600;
}

@media screen and (min-width: 878px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	li a {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 1138px) {
	.banner {
		padding: 1rem 5vw;
	}

	h1 {
		font-size: 3.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	li a {
		font-size: 1.65rem;
	}

	body.header-not-at-top .banner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 5vw;
	}

	footer {
		padding: 5px 5vw;
	}
}

@media screen and (min-width: 1900px) {
	.banner {
		padding: 0.5rem 10vw;
	}

	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	li a {
		font-size: 1.9rem;
	}

	body.header-not-at-top .banner {
		padding: 0 10vw;
	}

	footer {
		padding: 5px 10vw;
	}
}