:root {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

	--green: 66, 223, 197;
	--blue: 98, 54, 255;
	--dark: 28, 28, 31;
	--light: 240, 248, 255;
	--shadow: 2px 2px 5px rgb(0 0 0 / 0.5);
	--border: 1px solid red;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}

.banner {
	display: grid;
	grid-template-columns: 3fr 1fr;
	/* position: relative; */
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	align-items: center;
	/* padding: 0 4vw; */
}

h1 {
	font-weight: 450;
	font-size: 2.25rem;
	padding-left: 6vw;
}

.hamburger {
	justify-self: end;
	padding-right: 6vw;
	display: flex;
}

/* The Overlay (background) */
.overlay {
	display: flex;
	flex-direction: column;
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 0;
	width: 100%;
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	background-color: rgba(var(--blue), 0.9);
	overflow-x: hidden;
	/* Disable horizontal scroll */
	transition: 450ms;
	/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	width: 100%;
	/* 100% width */
	text-align: center;
	/* Centered text/links */
	margin-top: 15%;
	/* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	text-decoration: none;
	font-size: 2rem;
	color: rgba(var(--light));
	display: block;
	/* Display block instead of inline */
	transition: 0.3s;
	/* Transition effects on hover (color) */
}

.overlay svg {
	float: right;
}

.overlay-content a {
	padding-bottom: 1.5rem;
}

/* When you mouse over the navigation links, change their color */
a:hover,
a:focus {
	color: rgba(var(--green));
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	padding: 4vw 6vw;
}

svg {
	fill: rgba(var(--light));
}

svg:hover {
	fill: rgba(var(--green));
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	font-weight: 350;
	font-size: .8rem;
}

.copyright-svg {
	align-self: center;
}

.copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.copyright-1stline {
	display: flex;
}

.copyright-item {
	padding: 0 5px;
}

@media screen and (max-width: 319px) {
	.x {
		display: none;
	}

	.minimum {
		margin: 100px 15px;
		text-align: center;
		color: rgba(var(--dark));
	}
}

@media screen and (min-width: 320px) {
	.minimum {
		display: none;
	}
}

@media screen and (max-width: 374px) {
	.copyright {
		display: flex;
		flex-direction: row;
	}

	footer .c {
		display: none;
	}

}