:root {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	overscroll-behavior: none;
	height: 2000px;

	--green: 66, 223, 197;
	--blue: 99, 38, 255;
	--dark: 28, 28, 31;
	--light: 240, 248, 255;
	--shadow: 2px 2px 5px rgb(0 0 0 / 0.5);
	--border: 1px solid red;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}

.minimum,
.hamburger,
.closebtn {
	display: none;
}

.banner {
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 1138px;
	margin: 0 auto;
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	filter: drop-shadow(var(--shadow));
}

.banner > * {
	align-self: center
}

body.header-not-at-top .banner {
	position: fixed;
}

body.header-not-at-top .sub {
	display: none;
}

body.header-not-at-top h1 {
	font-size: 2.0rem;
}

body.header-not-at-top .title {
	padding: 0 3vw;
}

#top-of-site-pixel-anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 150px;
	left: 0;
}

.title {
	padding: 1rem 3vw;
}

h1 {
	font-weight: 450;
	font-size: 2.3rem;
	filter: drop-shadow(var(--shadow));
}

h2 {
	font-size: 1.35rem;
	font-weight: 200;
}

.overlay-content {
	display: flex;
	justify-content: right;
	padding-right: 3vw;
}

.navlinks {
	display: inline-flex;
	list-style: none;
}

li a {
	display: block;
	padding-left: 2.5rem;
	font-size: 1.25rem;
	font-weight: 300;
	will-change: transform;
	transition: transform 450ms;
}

li a:hover {
	transform: scale(1.2);
	transform-origin: center;
	transition: 150ms;
}

a:any-link {
	color: rgba(var(--light));
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(var(--green));
}

svg {
	fill: rgba(var(--light));
}

svg:hover {
	fill: rgba(var(--green));
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: rgba(var(--blue));
	color: rgba(var(--light));
	font-weight: 200;
	font-size: 0.8rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.copyright-svg {
	align-self: center;
}

.copyright {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 3vw;
}

.copyright-1stline {
	display: flex;
}

.copyright-item {
	padding: 5px 3px;
}

.legal {
	display: flex;
	text-decoration: underline;
	align-items: center;
	justify-content: right;
	padding-right: 3vw;
}

.tos {
	padding-left: 6px;
}

.green {
	color: rgba(var(--green));
	font-weight: 600;
}

@media screen and (min-width: 878px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1138px) {
	body.header-not-at-top .banner {
		position: fixed;
		top: 0;
		width: 1138px;
		left: 50%;
		margin-left: -569px;

	}

	footer {
		position: fixed;
		bottom: 0;
		left: 50%;
		width: 1138px;
		margin-left: -569px;
	}
}